/* Hero Section  */
#heroSection {
  max-width: 1300px;
  /* height: 100vh; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex: 0 0 calc((100%-30px) / 2);
  padding: 100px 20px;
}

#heroSection .left {
   margin: 20px;
  width: 55%;
  min-width: 600px;
}
#heroSection .left h2 {
  text-shadow: 0 0 2px white;
  font-size: 2.8em;
}

#heroSection .left button {
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}
#heroSection .left #Btn-1 {
  background: rgb(48, 43, 43);
  color: rgb(210, 230, 230);
}
#heroSection .left #Btn-1:hover {
  color: rgb(111, 100, 121);
}
#heroSection .left #Btn-2:hover {
    background: rgb(90, 83, 83);
  color: rgb(163, 189, 189);
}
#heroSection .right {
  width: 45%;
  min-width: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

#heroSection .right img {
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}
